*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
div {
    display: block;
}
video{
    display: inline-block;
    object-fit: fill;
    width: 100%;
    height: auto;
    position: absolute;
    max-height: 80%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px, 90px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}
nav .aagamerilogo{
    display: block;
    margin: 25px 20px;
    width: 200px;
    height: auto;
    float: left;
}
.navbar-links ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-links ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}
.toggle-button{
    position: absolute;
    top: 30px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 720px){
    .toggle-button{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        border-radius: 6px;
    }
    .navbar-links ul li a{
        line-height: 50px;
        font-size: 25px;
        padding: 9px 30px;
    }
    .navbar-links.active{
        display: flex;
    }
}
.vidtrailer-container{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}